<div class="alert alert-success" data-title="">
  <h2><i class="fa fa-tasks" aria-hidden="true"></i> 실제데이터에 인코딩해보기 
  </h2>
</div>

- Excercise 0: smoker,day, time 컬럼 드랍하여 tips 만들기 
- Excercise 1: total_bil의 범주형 데이터('sex') 를 수치형으로 바꾸기 
- Excercise 2: X,y 설정 ( y = total_bil // 나머지를 x 로 )
```python 
X = tips.drop(['total_bil'], axis=1)
y = tips.total_bil
```


<!-- - Excercise 3: x를 minmax scale 하기  -->
- Excercise 4: train_test_split 비율 0.3
- Excercise 5: LinearRegression 모델로 `total_bill` 예측해보기 
- Excercise 6: r2 스코어로 평가하기

In [1]:
import seaborn as sns # 그림 패키지
tips = sns.load_dataset('tips') # 내장 데이터 
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
# 2. sklearn.
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder() #  정의 
decode = le.fit_transform(tips.sex) # 변환

# decode 값 추가 
tips['d_sex'] = decode

# 원래 컬럼 삭제 
tips = tips.drop(['sex'], axis=1)

In [5]:
tips['smoker'].unique()

[No, Yes]
Categories (2, object): [No, Yes]

In [6]:
tips.smoker = tips.smoker.map({'No':0,'Yes':1})
tips.head(2)

   total_bill   tip smoker  day    time  size  d_sex
0       16.99  1.01      0  Sun  Dinner     2      0
1       10.34  1.66      0  Sun  Dinner     3      1

In [7]:
tips.day.unique()

[Sun, Sat, Thur, Fri]
Categories (4, object): [Sun, Sat, Thur, Fri]

In [8]:
tips['day'] = tips['day'].map({'Sun':1, 'Sat':1,
                               'Thur':0, 'Fri':0
                             })

In [10]:
tips.time.unique()

[Dinner, Lunch]
Categories (2, object): [Dinner, Lunch]

In [11]:
tips.time = tips.time.map({'Dinner':1, 'Lunch':0})

In [15]:
tips.head()

   total_bill   tip smoker  day time  size  d_sex
0       16.99  1.01      0    1    1     2      0
1       10.34  1.66      0    1    1     3      1
2       21.01  3.50      0    1    1     3      1
3       23.68  3.31      0    1    1     2      1
4       24.59  3.61      0    1    1     4      0

In [16]:
# X, y 설정 
X = tips.drop('total_bill',axis=1)
y = tips['total_bill']

In [17]:
# Excercise 4: train_test_split 비율 0.3
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                    test_size=0.3,
                                                    random_state=42)

In [ ]:
# Excercise 5: LinearRegression
from sklearn.linear_model import ElasticNet, LinearRegression
model = LinearRegression() # 정의

model.fit(X_train, y_train) # 학습

In [30]:
# y_pred = model.predict(X_test)
# from sklearn.metrics import r2_score, mae , mse 
# r2_score(y_test,y_pred) # 예측값 하고 실제값의 오차

0.5481343440754118

In [29]:
# Excercise 6: r2 스코어로 평가하기
model.score(X_test, y_test)

0.5481343440754118

In [78]:
# Excercise 5: LinearRegression
from sklearn.linear_model import ElasticNet
model = ElasticNet() # 정의
model.fit(X_train, y_train) # 학습 

# Excercise 6: r2 스코어로 평가하기
model.score(X_test, y_test)

0.5257330656693666