# Ï†ÑÏ≤òÎ¶¨

In [2]:
import numpy as np
import pandas as pd

## Îç∞Ïù¥ÌÑ∞ Ïù∏ÏΩîÎî©(Encoding)

### Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ 

Îç∞Ïù¥ÌÑ∞Îäî ÌÅ¨Í≤å 2Í∞ÄÏßÄ ÌòïÌÉúÎ°ú ÎÇòÎâ©ÎãàÎã§.
- ÏàòÏπòÌòï(Numerical)
- Î≤îÏ£ºÌòï(Categorical)

> üìà **Numerical (ÏàòÏπòÌòï) Îç∞Ïù¥ÌÑ∞**
> - Discrete (Ïù¥ÏÇ∞Ìòï, Î∂àÏó∞ÏÜçÌòï) Îç∞Ïù¥ÌÑ∞  
     : Ïà´ÏûêÎ°ú ÏÖÄ Ïàò ÏûàÎäî Í≤É, ÌäπÏ†ï Í∞í, Ï†ïÏàòÌòïÌÉú (1Í∞ú, 2Î™Ö Îì±)
>- Continuous (Ïó∞ÏÜçÌòï) Îç∞Ïù¥ÌÑ∞  
     : Ï∏°Ï†ïÌï¥Ïïº ÌïòÎäî Í≤É, Ïó∞ÏÜç Î≤îÏúÑ ÎÇ¥ Ïã§ÏàòÍ∞í (Ïò®ÎèÑ(21.3‚ÑÉ), Î¨¥Í≤å(72.5kg), Í∏∏Ïù¥(183m), ÎπÑÏú®(57%) Îì±)

> üìä **Categorical (Î≤îÏ£ºÌòï) Îç∞Ïù¥ÌÑ∞**
> - Nominal (Î≤îÏ£ºÌòï) Îç∞Ïù¥ÌÑ∞  
     : ÏàúÏÑúÍ∞Ä ÏóÜÎäî Í≤É (ÏÑ±Î≥Ñ, ÎèôÎ¨ºÏùò Ï¢ÖÎ•ò Îì±)  
> - Ordinal (ÏàúÏÑúÌòï) Îç∞Ïù¥ÌÑ∞  
     : ÏàúÏÑúÍ∞Ä ÏûàÎäî Í≤É (ÏàòÎä• Îì±Í∏â, Ï¢åÏÑù Îì±Í∏â, ÏàúÏúÑ Îì±)

ÌïòÏßÄÎßå, Í∏∞Î≥∏Ï†ÅÏù∏ Î®∏Ïã†Îü¨Îãù Î™®Îç∏ÏùÄ categorical_data Î•º ÏûÖÎ†•Í∞íÏúºÎ°ú ÌôúÏö©Ìï† Ïàò ÏóÜÏäµÎãàÎã§.
Îî∞ÎùºÏÑú, categorical data Î•º numerical ÌïòÍ≤å Î≥ÄÌôòÌï¥Ï£ºÎäî Ï†ÑÏ≤òÎ¶¨ ÏûëÏóÖ(preprocessing)Ïù¥ ÏÑ†ÌñâÎêòÏñ¥ÏïºÌï©ÎãàÎã§. Ïù¥Îü¨Ìïú Ï†ÑÏ≤òÎ¶¨ÏûëÏóÖÏùÑ Ïù∏ÏΩîÎî© ÏûëÏóÖÏù¥ÎùºÌï©ÎãàÎã§.

### Ïù∏ÏΩîÎî© Î∞©Î≤ï 

- `sklearn` LabelEncoder 
- `pandas` pd.get_dummies
- `pandas` `map` Ïù¥Ïö©ÌïòÍ∏∞

- pd.get_dummies
#### ‚ë¢ **pandas**Ïùò **get_dummies**  Ïù¥Ïö©ÌïòÍ∏∞ üî©

ÏúÑÏôÄ Í∞ôÏùÄ Ïù∏ÏΩîÎî©(Ï†ÑÏ≤òÎ¶¨) Î∞©Î≤ï Îëê Í∞úÎäî Í∞ÑÎã®ÌïòÍ≥† ÏßÅÍ¥ÄÏ†ÅÏù¥ÏßÄÎßå, Ìïú Í∞ÄÏßÄ Î¨∏Ï†úÍ∞Ä ÏûàÏäµÎãàÎã§ ‚õî

> **[ Îß§Ïö∞ Ïã´Îã§ -> 1, Î≥¥ÌÜµÏù¥Îã§ -> 3 , Îß§Ïö∞ Ï¢ãÎã§ -> 5Ï†ê ]** Ï≤òÎüº  
ordianalÌïú Îç∞Ïù¥ÌÑ∞ÏóêÎäî Ï†ÅÌï©ÌïòÏßÄÎßå, (*ÏàúÏÑú ÎòêÎäî Îì±Í∏â Êúâ)

> **[ Îπ®Í∞ï -> 1, ÌååÎûë -> 2, Ï¥àÎ°ù -> 3 ]** Ï≤òÎüº  
nominalÌïú Îç∞Ïù¥ÌÑ∞ÏóêÎäî Ï†ÅÌï©ÌïòÏßÄ ÏïäÏäµÎãàÎã§. (*ÏàúÏÑú ÎòêÎäî Îì±Í∏â ÁÑ°)

> Îπ®Í∞ï, ÌååÎûë, Ï¥àÎ°ùÏù¥ÎùºÎäî ÏÉâÍπîÎì§ ÏÇ¨Ïù¥ÏóêÎäî Ïñ¥Îñ†Ìïú ÏàúÏÑúÎÇò Îì±Í∏âÎèÑ ÏóÜÏßÄÎßå,  
ÏúÑÏùò Î∞©Î≤ïÎì§Î°ú Î≥ÄÌôòÌïòÎ©¥ Ï¥àÎ°ùÍ∞íÏù¥ Í∞ÄÏû• ÌÅ¨Îã§ÎçòÏßÄ,  
"(Ï¥àÎ°ùÍ∞í) - (ÌååÎûëÍ∞í) = (Îπ®Í∞ïÍ∞í)" Îì±Ïùò **Í¥ÄÍ≥Ñ**Í∞Ä ÏÉùÍ∏∞Í∏∞ ÎïåÎ¨∏ÏûÖÎãàÎã§.  
Î®∏Ïã†Îü¨Îãù Î™®Îç∏ÏùÄ Î≥ÄÌôòÎêú Ïà´ÏûêÎ•º Î∞îÌÉïÏúºÎ°ú ÌïôÏäµÌïòÍ∏∞ ÎïåÎ¨∏Ïóê, ÏûòÎ™ªÌïòÎ©¥ ÏúÑÏùò Í¥ÄÍ≥Ñ(ÌäπÏÑ±)Î•º ÌïôÏäµÌï¥ Î≤ÑÎ¶ΩÎãàÎã§ üò≠üò≠  
Ïù¥Îäî ÎÖºÎ¶¨Ï†ÅÏúºÎ°ú Î¨∏Ï†úÍ∞Ä ÏûàÏùÑ ÎøêÎßå ÏïÑÎãàÎùº, Ïã§Ï†ú Î™®Îç∏Ïùò ÏÑ±Îä•ÎèÑ Ïûò ÏïàÎÇòÏò§Í≤å Îê©ÎãàÎã§. 

**üí° Îî∞ÎùºÏÑú nominalÌïú Îç∞Ïù¥ÌÑ∞ Î≥ÄÌôòÏùÑ ÏúÑÌï¥ÏÑúÎäî**, Ïà´ÏûêÏù¥Í∏∞Îäî ÌïòÏßÄÎßå **ÏÑúÎ°ú 'Í¥ÄÍ≥ÑÏóÜÎäî' Ïà´ÏûêÎ°ú Î≥ÄÌôò**Ìï¥ Ï£ºÏñ¥ÏïºÌï©ÎãàÎã§.  

> - `pd.get_dummies(Îç∞Ïù¥ÌÑ∞ÏÖã.ÌÉÄÍ≤üÏó¥, prefix='ÌÉÄÍ≤üÏó¥')`

![ÏòàÏãú](https://www.mwbrady.com/post/encodingcategoricaldata/Untitled-5f6d339d-ce4a-4533-8b67-c4e688b85ce0.png)

- map

### LabelEncoder

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.DataFrame({
    'pName':['ÎÉâÏû•Í≥†','TV','ÏóêÏñ¥Ïª®','ÎÉâÏû•Í≥†','ÎÖ∏Ìä∏Î∂Å','Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞'],
    'price':[100,80,150,100,50,40]
})

df

   pName  price
0    ÎÉâÏû•Í≥†    100
1     TV     80
2    ÏóêÏñ¥Ïª®    150
3    ÎÉâÏû•Í≥†    100
4    ÎÖ∏Ìä∏Î∂Å     50
5  Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞     40

In [9]:
# Ï†ÑÏ≤òÎ¶¨ 
le = LabelEncoder()
decode_name = le.fit_transform(df.pName)# Í∞Å Í∞íÎì§Í≥º ÏΩîÎìúÏùò Îß§Ìïë Í¥ÄÍ≥Ñ ÏÉùÏÑ± ÌõÑ Î≥ÄÌôò

In [11]:
df['pid'] = decode_name
df

   pName  price  pid
0    ÎÉâÏû•Í≥†    100    2
1     TV     80    0
2    ÏóêÏñ¥Ïª®    150    4
3    ÎÉâÏû•Í≥†    100    2
4    ÎÖ∏Ìä∏Î∂Å     50    3
5  Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞     40    1

In [13]:
print('Encoding Class : ',le.classes_)
print('Decoding Class: ',decode_name )

Encoding Class :  ['TV' 'Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞' 'ÎÉâÏû•Í≥†' 'ÎÖ∏Ìä∏Î∂Å' 'ÏóêÏñ¥Ïª®']
Decoding Class:  [2 0 4 2 3 1]

### OneHotEncoder

In [28]:
df_dummies = pd.get_dummies(df, prefix='pName')  # originÏóê ÏÜçÌïú Ïπ¥ÌÖåÍ≥†Î¶¨(ÏõêÏÇ∞ÏßÄ)Î≥ÑÎ°ú ÏÉàÎ°úÏö¥ comlumn(Ïó¥)Ïù¥ ÏÉùÍπÄ
df_dummies

,price,pid,map_name,pName_TV,pName_Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞,pName_ÎÉâÏû•Í≥†,pName_ÎÖ∏Ìä∏Î∂Å,pName_ÏóêÏñ¥Ïª®
0,100,2,2,0,0,1,0,0
1,80,0,0,1,0,0,0,0
2,150,4,4,0,0,0,0,1
3,100,2,2,0,0,1,0,0
4,50,3,3,0,0,0,1,0
5,40,1,1,0,1,0,0,0

In [27]:
# pd.concat
pd.concat([df,df_dummies], axis=1)

,pName,price,pid,map_name,price,pid,pName_TV,pName_Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞,pName_ÎÉâÏû•Í≥†,pName_ÎÖ∏Ìä∏Î∂Å,pName_ÏóêÏñ¥Ïª®
0,ÎÉâÏû•Í≥†,100,2,2,100,2,0,0,1,0,0
1,TV,80,0,0,80,0,1,0,0,0,0
2,ÏóêÏñ¥Ïª®,150,4,4,150,4,0,0,0,0,1
3,ÎÉâÏû•Í≥†,100,2,2,100,2,0,0,1,0,0
4,ÎÖ∏Ìä∏Î∂Å,50,3,3,50,3,0,0,0,1,0
5,Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞,40,1,1,40,1,0,1,0,0,0

### Map

In [17]:
df['map_name'] = df.pName.map({'TV':0,'Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞':1,'ÎÉâÏû•Í≥†':2,'ÎÖ∏Ìä∏Î∂Å':3,'ÏóêÏñ¥Ïª®':4 })

In [18]:
df

   pName  price  pid  map_name
0    ÎÉâÏû•Í≥†    100    2         2
1     TV     80    0         0
2    ÏóêÏñ¥Ïª®    150    4         4
3    ÎÉâÏû•Í≥†    100    2         2
4    ÎÖ∏Ìä∏Î∂Å     50    3         3
5  Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞     40    1         1

<div class="alert alert-success" data-title="">
  <h2><i class="fa fa-tasks" aria-hidden="true"></i> Ïã§Ï†úÎç∞Ïù¥ÌÑ∞Ïóê Ïù∏ÏΩîÎî©Ìï¥Î≥¥Í∏∞ 
  </h2>
</div>

- Excercise 0: smoker,day, time Ïª¨Îüº ÎìúÎûçÌïòÏó¨ tips ÎßåÎì§Í∏∞ 
- Excercise 1: total_bilÏùò Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞('sex') Î•º ÏàòÏπòÌòïÏúºÎ°ú Î∞îÍæ∏Í∏∞ 
- Excercise 2: total_bilÏùÑ yÎ°ú // ÎÇòÎ®∏ÏßÄÎ•º x Î°ú ÎÇòÎàÑÍ∏∞ 
- Excercise 3: xÎ•º minmax scale ÌïòÍ∏∞ 
- Excercise 4: train_test_split ÎπÑÏú® 0.3
- Excercise 5: LinearRegression Î™®Îç∏Î°ú `total_bill` ÏòàÏ∏°Ìï¥Î≥¥Í∏∞ 
- Excercise 6: r2 Ïä§ÏΩîÏñ¥Î°ú ÌèâÍ∞ÄÌïòÍ∏∞

In [30]:
import seaborn as sns

tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4